node_modules
.pnpm-store
.pnpm
.pnp
dist
build
.cache
.vite
.vite-deps
.turbo
.idea
.vscode
.git
.gitignore
.github
.env
.env.*
logs
coverage
tests_output
testing
tmp
temp
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.DS_Store
sass-cache
public/.cache
pnpm-lock.yaml