{
  "*.{js,jsx,ts,tsx,astro}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ],
  "*.{css,astro}": [
    "stylelint --fix --custom-syntax postcss-html"
  ]
}
