pnpm.onlyBuiltDependencies[]="@swc/core"
pnpm.onlyBuiltDependencies[]="esbuild"
pnpm.onlyBuiltDependencies[]="sharp"
pnpm.onlyBuiltDependencies[]="geckodriver"
pnpm.onlyBuiltDependencies[]="@nightwatch/nightwatch-inspector"
